* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background-color: var(--tonic-window);
  color: var(--tonic-primary);
  font-family: var(--tonic-body);
}

.StripeElement {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

tonic-form#form-stripe {
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 2px;
}

#card-element {
  padding: 10px;
  border: 1px solid var(--tonic-border);
  border-radius: 4px;
  width: 100%;
  height: 38px;
  grid-area: 1 / span 4;
  background-color: var(--tonic-background);
}

#cardholder-name, #cardholder-address {
  grid-area: 2 / span 2;
}

#cardholder-email {
  grid-area: 4 / span 3;
}

#billing-info {
  grid-area: 5 / span 4;
  display: grid;
}
